$blue: rgb(0, 128, 192);
@import "~bootstrap/scss/bootstrap";

.btn-primary {
    color: #fff;
}

.btn-primary:hover, .btn-outline-primary:hover {
    color: #fff;
}

.btn-primary:focus-wintin, .btn-outline-primary:focus-wintin {
    color: #fff;
}


