$blue: rgb(0, 128, 192);
@import "~bootstrap/scss/bootstrap";

.btn-primary {
    color: #fff;
}

.btn-primary:hover, .btn-outline-primary:hover {
    color: #fff;
}

.btn-primary:focus-wintin, .btn-outline-primary:focus-wintin {
    color: #fff;
}


.sidebar_left_panel {
    min-width: 240px;
    height: 100vh;
}
.sidebar_left_panel > li:hover{
    background-color: rgba(130, 212, 245, 0.548);
}
.sidebar_left_panel {
    padding: .5rem;
}