$blue: rgb(0, 128, 192);
@import "~bootstrap/scss/bootstrap";

.btn-primary {
    color: #fff;
}

.btn-primary:hover, .btn-outline-primary:hover {
    color: #fff;
}

.btn-primary:focus-wintin, .btn-outline-primary:focus-wintin {
    color: #fff;
}

* {
    box-sizing:border-box;
    list-style:none;
}

a {
    text-decoration:none;
}

.app_container {
    width: 100%;    
}

.sidebar_left_panel {
    min-width: 12rem;
    height: calc(100vh - 3.5rem);
}
.sidebar_left_panel > li:hover{
    background-color: rgba(130, 212, 245, 0.548);
}
.sidebar_left_panel {
    padding: .5rem;
}

.sidebar_item_parent {
    overflow: hidden;
    padding-left: 1.3rem;
    position: relative;
}

.sidebar_item_toggle {
    margin-right: .3rem;
}

.sidebar_item a:hover {
    color: #933;
}

.sidebar_item_parent:before {
    border-left: 1px dashed #777676;
    content: "";
    height: calc(100% - .75em);
    left: 1.3rem;
    position: absolute;
    top: 0;
}

.sidebar_item_child {
    position: relative;
    padding-left: 0.8rem;
}

.sidebar_item_child:before {
    border-bottom: 1px dashed #777676;
    content: "";
    left: 0;
    position: absolute;
    top: 0.75rem;
    width: .625em;
}