.header__link--active {
  @apply text-hex-fbfafc
}

.header__link--hover {
  @apply hover:text-hex-fbfafc  
}

.header__dropdown-menu {
  position: absolute;
  top:0;
  left: auto;
  min-width: 12rem;
  color: #333;
  background-color:#fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}


.header__dropdown-item {
  display: block;
}

.header__dropdown-item:hover {
  background-color: #f8f9fa;
}

.header__dropdown-item:active {
  color: #fff;
  width: 100%;
  text-decoration: none;
  background-color: #007bff;
}