:root {
    --code-font:"Cascadia Mono-SemiLight",Menlo,Monaco,Consolas,monospace;
    --body-font: "Segoe UI Web (West European)","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    --raised-box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,0.132),0 0.3px 0.9px 0 rgba(0,0,0,0.108);
}
.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.flex-grow {
    flex-grow: 1;
}

body {
    font-family: var(--body-font);
}

.top_menu {
    height: 3rem;
    line-height: 3rem;
    background-color: burlywood;
    color: #fff;
}

.logo_box {
    width: 200px;;
    margin: 0 10px;
}
.logo_text {
    font-size: 1.5rem;
}

.logo_icon {
    position: relative;
    margin: auto 8px;
    top: 0.125rem;
}
.top_menu li {
    margin: 0 5px;;
}

.top_menu a{
    color: #fff;
    text-decoration: none;
}

.search_logo {
    margin: auto 5px;
}

.search_tips {
    font-size: 1rem;
}

.top_menu .right {
    padding: 0 10px;
    background-color: chocolate;
}

.main {
    min-height: calc(100vh - 3rem);
}

.main .left{
    background-color: #eeeeee;
    flex-direction: column;
}

.main li {
    min-width: 16rem;
    min-height: 2.5em;
    line-height: 2.5em;
    border-bottom: 1px solid #dfdfdf;
    color: #3f4142;
}

.main li.opened {
    background-color: #dfdfdf;
}

.nav_bar .arrow{
    margin: auto 15px;
    stroke: #3f4142;
}

.nav_bar li.opened .arrow{
    stroke: #3178c6;
}

.nav_bar li span{
    margin: auto 15px;
}

.mid {
    background-color: #faf9f8;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 70px;
    color: #333;
}

.mid h2 {
    font-size: 3rem;
}

.mid .introduce {
    margin: 25px 0;
}

.mid .content {
    background-color: #fff;
    padding: 65px 40px;
    border: 1px solid #eee;
    box-shadow: var(--raised-box-shadow);
}

pre {
    margin: 1rem 0;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 15px;
}

code {
    font-family: var(--code-font);
}

.mid .right {
    width: 13rem;
    margin: 5px 25px;
    flex-shrink:0;
}

.mid .right ul {
    margin:15px 0;
}
.mid .right li:hover {
    border-left: 2px solid #3178c6;
}

h5 {
    font-weight: 600;
    font-size: 16px;    
}