* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primary: theme('colors.red.dark');
  --secondary: theme('colors.red.medium');
}

.th-blue {
  --primary: theme('colors.blue.dark');
  --secondary: theme('colors.blue.medium');
}